.button-container {
    text-align: center;
    margin: 20px 0;

    button {
        width: 160px;
    }
}

.form {
    width: min-content;
    margin: auto;

    &__control {
        width: 300px !important;
        margin: 10px auto;
    }
}